<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../css/forum/mui.css" />
		<link rel="stylesheet" href="../../css/forum/fourm_index.css" />
	</head>

	<body id="body">   
   
		<!----------------------------------------------------------------------------------------------------->
		<header  class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title "><label class="difination-label ">S</label>YAH</h1>
			<!--个人中心-->
			<b id="personal" class="mui-icon mui-icon-contact mui-pull-right"></b>
		</header>

		<div class="mui-content">
			<div class="difination-div-top">
				<!--搜索框-->
				<div class="difination-input">
					<div id="input_block" class="difination-input-soon mui-input-row mui-search" style="
						background-image: url(../../image/input.png);
					width: 100%;
					height: 40px;
					max-width: 400px;
					margin-left: 20px;
					background-size: contain">
					</div>
				</div>
				<!--类型-->
				<div style="margin-top: -10px;" class=" mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div id="type_template_body" class="mui-scroll  difination-type-a ">
						<script id="type_template" type="text/html">
							{{each ftype as value index}} {{if value.id == 1}}
							<a name="{{value.id}}" class="mui-control-item mui-active ">
								{{value.classify}}
							</a>
							{{/if}} {{if value.id != 1}}
							<a name="{{value.id}}" class="mui-control-item difination-type-a">
								{{value.classify}}
							</a>
							{{/if}} {{/each}}
						</script>
					</div>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div class="bottom" style="z-index: 999;">
			<nav class="mui-bar mui-bar-tab">
				<a id="first"  class="mui-tab-item mui-active">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">首页</span>
				</a>
				<a id="parttp" class="mui-tab-item">
					<span class="mui-icon mui-icon-paperplane"></span>
					<span class="mui-tab-label">发布</span>
				</a>
				<a id="jobtp" class="mui-tab-item">
					<span class="mui-icon mui-icon-flag"></span>
					<span class="mui-tab-label">校园兼职</span>
				</a>
				<a id="centertp" class="mui-tab-item" id="1">
					<span class="mui-icon mui-icon-gear"></span>
					<span class="mui-tab-label">个人中心</span>
				</a>
			</nav>       
		</div>    

	</body>
	<script src="../../js/forum/mui.js"></script>
	<script src="../../js/forum/jquery3.3.js"></script>
	<script src="../../js/forum/template-web.js"></script>
	<script src="../../js/common/alert_error.js"></script>
	<script src="../../js/forum/forum_index.js"></script>
	<script src="../../js/openwindow.js"></script>
	<script>
		mui.init({
			subpages: [{
				url: 'forum_index_content_subPage.html',
				id: 'forum_index_content_subPage.html',
				styles: {
					top: '145px',
					bottom: '45px'
				}
			}],
			preloadPages:[{
				url:'forum_article_main_content.html',
				id:'forum_article_main_content.html'
			},{
				url:'forum_personal.html',
				id:'forum_personal.html'
			}
			
			]
		});
		open("jobtp",'../zmain/job.html');
		open("parttp",'../zmain/part.html');
		open("centertp",'../zmain/centero.html');
		open("first","../zmain/first.html")		
	</script>

</html>