<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/first/first.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=e06af7eca8fc443dc26a8a23a0bdc7e0&plugin=AMap.CitySearch"></script>
		<script src="../../js/template-web.js"></script>
		<script src="../../js/openwindow.js"></script>
		<script src="../../js/job/jobon.js"></script>
		<script src="../../js/js_util/activityon.js"></script>
		<style>
			@import url("../../css/first/first.css");
		</style>
	</head>

	<body>
		<script src="../../js/first/first.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<header class="mui-bar mui-bar-nav">
			<h1 id="title" class="mui-title">首页</h1>
			<img class="mui-pull-right" src="../../image/percenter/imgno.png" id="persons" />
		</header>
		<div class="mui-content">
			<div class="mains">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active">
							推荐
						</a>
						<a class="mui-control-item" id="forums">
							论坛
						</a>
						<a class="mui-control-item">
							社团
						</a>
						<span class="mui-control-item" id="activity">
				           	活动
				        </span>
					</div>
				</div>
			</div>
			
			
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate" name="6">
						<a href="#">
							<img src="../../image/firstlun/f4.jpg">
							<p class="mui-slider-title">静静看这世界</p>
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item" name="8">
						<a href="#">
							<img src="../../image/firstlun/f7.jpg">
							<p class="mui-slider-title">幸福就是可以一起睡觉</p>
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item" name="5">
						<a href="#">
							<img src="../../image/firstlun/f2.jpg">
							<p class="mui-slider-title">想要一间这样的木屋，静静的喝咖啡</p>
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item" name="7">
						<a href="#">
							<img src="../../image/firstlun/f5.jpg">
							<p class="mui-slider-title">Color of SIP CBD</p>
						</a>
					</div>
					<!-- 第四张 -->
					<div class="mui-slider-item" name="6">
						<a href="#">
							<img src="../../image/firstlun/f4.jpg">
							<p class="mui-slider-title">静静看这世界</p>
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate" name="8">
						<a href="#">
							<img src="../../image/firstlun/f7.jpg">
							<p class="mui-slider-title">幸福就是可以一起睡觉</p>
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			
			<div class="today">
				<div class="today_one">
					<div class="jsotitle">
					  <span class="mytitle">特推兼职</span>
					  <div id="jobmore"  class="mui-pull-right">
						   <span>更多<span class="mui-icon mui-icon-arrowright"></span></span>
					  </div>
					</div>
					<div id="specialjob">
						<script id="allJobByaccountTime" type="text/html">
							<ul class="mui-table-view" id="uls">
							{{if atms.status==true}}
							{{ each atplur as pl}}
							<li class="mui-table-view-cell mui-media" id="{{pl.id}}" name="{{pl.fkPublisher}}">
								{{each atunit as wo}} {{if wo.id == pl.fkUnit}}
								<img class="mui-media-object mui-pull-left" src="{{wo.iconlocation}}" alt="图片">
								{{/if}}
								{{/each}}
								<div class=" mui-media-body main_content">
									<span class="thetitle">{{pl.subject}}</span>
									<span class="main_content_v">发布于:{{pl.releasetime}}</span>
									<span class="mui-ellipsis">详情:&nbsp;{{pl.workcontent}}</span> 
								</div>
								<div class="mui-badge mui-badge-inverted">
									￥<span>{{pl.money}}</span> 
									{{each atunit as at}} 
									{{if at.id == pl.fkUnit}}
									<span class="{{at.style}}">{{at.style}}</span>
									{{/if}} 
									{{/each}}
								</div>
							</li>
							{{/each}}
							{{/if}}
							{{if atms.status==false}}
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../../image/first/psn.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p style="color: #333;">当前学校无兼职，敬请等待...</p>
									</div>
								</div>
							</div>
							{{/if}}
						</ul>
						</script>
					</div>
				</div>

				<div class="today_two">
					<div class="jsotitle">
					  <span class="mytitle">特推活动</span>
					  <div id="activitymore"  class="mui-pull-right">
					    <span>更多<span class="mui-icon mui-icon-arrowright"></span></span>
					  </div>
					</div>
					<div id="specialActivity">
						<script id="specialac" type="text/html">
							{{if ayms.status==true}}
							<ul>
							  {{each alist as al}}
								<li id="{{al.id}}" name="{{al.fkUserid}}">
									<div class="mui-card">
										<div class="mui-card-header mui-card-media" style="height:40vw; background-image:url({{al.images}})"></div>
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<span><i class="aci">主题:</i>{{al.titles}}</span>
												<span class="mui-pull-right"><i class="aci">发布于:</i>{{al.createtime}}</span>
												<span class="mui-ellipsis"><i class="aci">内容:&nbsp;</i>{{al.content}}</span>
											</div>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
							{{/if}}
							{{if ayms.status==false}}
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../../image/img_activity/other.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p style="color: #333;">当前学校无活动，敬请等待...</p>
									</div>
								</div>
							</div>
							{{/if}}
						</script>
					</div>
					<div class="butts">
						<nav class="mui-bar mui-bar-tab">
							<a class="mui-tab-item mui-active" id="firstp">
								<span class="mui-icon mui-icon-home"></span>
								<span class="mui-tab-label">首页</span>
							</a>
							<a class="mui-tab-item" id="parttp">
								<span class="mui-icon mui-icon-paperplane"></span>
								<span class="mui-tab-label">发布</span>
							</a>
							<a class="mui-tab-item" id="jobtp">
								<span class="mui-icon mui-icon-flag"></span>
								<span class="mui-tab-label">校园兼职</span>
							</a>
							<a class="mui-tab-item" id="centertp">
							<span class="mui-icon mui-icon-gear"></span>
								<span class="mui-tab-label">个人中心</span>
							</a>
						</nav>
					</div>
		    </div>
	</body>
	<script type="text/javascript">
			mui.init()
		</script>
</html>