<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template-web.js"></script>
		<script src="../../js/job/jobon.js"></script>
		<script src="../../js/openwindow.js"></script>
		<script src="../../js/job/job.js"></script>
		<style>
			.mysc{
					padding-top:10px;
				}
				
				.job_one {
					margin: 0 20px;
				}
				.job_one span{
					font-size: 15px;color: #007AFF;padding-top: 5px;
				}
				.navigation{
					margin-left: 30px;display: inline;
				}
				.navigation ul li{
					width: 25%;
				}
				.mui-col-sm-3 span img {
					width: 30px;
					height: 30px;
				}
				
				.job_content .job_content_one ul li .content_a .mui-media-body span {
					display: block;
				}
				
				.content_money {
					color: red;
				}
				
				.main_content span {
					display: block;
				}
				
				.main_content span:first-child,.thetitle {
					font-size: 20px;
					overflow: hidden;
				}
				
				.main_content span:last-child,
				.main_content_v {
					font-size: 14px;
					color: #000000;
				}
				.main_content_v{
					color: #6641E2;
					}
				.mui-table-view-cell .mui-badge {
					font-size: 16px;
					color: red;
				}
				#slider{
					margin-top: 20px;
				}
				.job_content{
					clear: both;
				}
				#nothings{
					color: red;
				}
				#thenothings{
					height: 300px;text-align: center;
				}
				
				#thenothings span{
					font-size: 16px;padding-top: 10px;
					color: #EC971F;display: block;
				}
				#item1mobile,#item2mobile,#item3mobile{
					margin-bottom: 60px;
				}
			</style>
	</head>

	<body>
		<script>
			mui.init({
				swipeBack: false
			});
		</script>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">校园兼职</h1>
		</header>
		<div class="mui-content">
			<div class="mysc">
			</div>
			<div class="mui-input-group">
				<form action="">
					<div class="mui-input-row mui-search">
						<input id="search" type="search" class="mui-input-clear" placeholder="请输入岗位主题关键字">
					</div>
				</form>
			</div>
			<div class="job_one">
				<span>我的学校:</span><span class="mui-media-body" id="backs">我的学校</span>
			</div>
			<div class="navigation">
			<ul class="mui-table-view mui-grid-view mui-grid-9">
			
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="shortjob">
				<a href="#">
					<span><img src="../../image/job/short.png" /></span>
					<div class="mui-media-body">短期兼职</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="longjob">
				<a href="#">
					<span><img src="../../image/job/long.png" /></span>
					<div class="mui-media-body">长期兼职</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="job_myjob">
				<a href="#">
					<span><img src="../../image/job/myjob.png" /></span>
					<div class="mui-media-body">我的兼职</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="job_income">
				<a href="#">
					<span><img src="../../image/job/moneydetail.png" /></span>
					<div class="mui-media-body">收入明细</div>
				</a>
			</li>
				</ul>
			</div>
			
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">推荐工作</a>
					<a class="mui-control-item" href="#item2mobile">热门工作</a>
					<a class="mui-control-item" href="#item3mobile">放心工作</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<script id="allJobByTime" type="text/html">
							<ul class="mui-table-view" id="uls">
							{{if ms.status==true}}
							{{ each plur as pl}}
							<li class="mui-table-view-cell mui-media" id="{{pl.id}}" name="{{pl.fkPublisher}}">
								{{each unit as wo}} {{if wo.id == pl.fkUnit}}
								<img class="mui-media-object mui-pull-left" src="{{wo.iconlocation}}" alt="图片"> {{/if}} {{/each}}
								<div class=" mui-media-body main_content">
									<span class="thetitle">{{pl.subject}}</span>
									<span class="main_content_v">发布于:{{pl.releasetime}}</span>
									<span class="mui-ellipsis">{{pl.workcontent}}</span>
								</div>
								<div class="mui-badge mui-badge-inverted">
									￥<span>{{pl.money}}</span> 
									{{each unit as un}} 
									{{if un.id == pl.fkUnit}}
									<span class="{{un.style}}">{{un.style}}</span>
									{{/if}} 
									{{/each}}
								</div>
							</li>
							{{/each}}
							{{/if}}
							{{if ms.status==false}}
							<div class="mui-table-view-cell mui-media" id="thenothings">
								<img src="../../image/nothing/无数据%20(1).png" />
								<span id="nothings">该学校当前无兼职,敬请等待任务发布。</span>
							</div>
							{{/if}}
						</ul>
						</script>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<script id="allJobByCount" type="text/html">
							<ul class="mui-table-view" id="uls">
								{{if counms.status==true}}
								{{ each cou as co}}
								<li class="mui-table-view-cell mui-media" id="{{co.id}}" name="{{co.fkPublisher}}">
									{{each unitco as uc}} {{if uc.id == co.fkUnit}}
									<img class="mui-media-object mui-pull-left" src="{{uc.iconlocation}}" alt="图片"> {{/if}} {{/each}}
									<div class=" mui-media-body main_content">
										<span class="thetitle">{{co.subject}}</span>
										<span class="main_content_v">访问次数:{{co.counts}}</span>
										<span class="mui-ellipsis">{{co.workcontent}}</span>
									</div>
									<div class="mui-badge mui-badge-inverted">
										￥<span>{{co.money}}</span> 
										{{each unitco as uc}} 
										{{if uc.id == co.fkUnit}}
										<span class="{{uc.style}}">{{uc.style}}</span>
										{{/if}} 
										{{/each}}
									</div>
								</li>
								{{/each}}
								{{/if}}
								{{if counms.status==false}}
								<div class="mui-table-view-cell mui-media" id="thenothings">
									<img src="../../image/nothing/无数据%20(1).png" />
									<span id="nothings">该学校当前无兼职,敬请等待任务发布。</span>
								</div>
								{{/if}}
							</ul>
						</script>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<script id="allJobByCredit" type="text/html">
							<ul class="mui-table-view" id="uls">
								{{if creditms.status==true}}
								{{ each cre as cr}}
								<li class="mui-table-view-cell mui-media" id="{{cr.id}}" name="{{cr.fk_publisher}}">
									{{each unitcr as ur}} {{if ur.id == cr.fk_unit}}
									<img class="mui-media-object mui-pull-left" src="{{ur.iconlocation}}" alt="图片"> {{/if}} {{/each}}
									<div class=" mui-media-body main_content">
										<span class="thetitle">{{cr.subject}}</span>
										<span class="main_content_v">信用指数:
										{{if cr.credit<20}}☆{{/if}}
										{{if cr.credit>=20&&cr.credit<40}}☆☆{{/if}}
										{{if cr.credit>=40&&cr.credit<=60}}☆☆☆{{/if}}
										{{if cr.credit>60&&cr.credit<=80}}☆☆☆☆{{/if}}
										{{if cr.credit>80}}☆☆☆☆☆{{/if}}</span>
										<span class="mui-ellipsis">{{cr.workcontent}}</span>
									</div>
									<div class="mui-badge mui-badge-inverted">
										￥<span>{{cr.money}}</span> 
										{{each unitcr as ur}} 
										{{if ur.id == cr.fk_unit}}
										<span class="{{ur.style}}">{{ur.style}}</span>
										{{/if}} 
										{{/each}}
									</div>
								</li>
								{{/each}}
								{{/if}}
								{{if creditms.status==false}}
								<div class="mui-table-view-cell mui-media" id="thenothings">
									<img src="../../image/nothing/无数据%20(1).png" />
									<span id="nothings">该学校当前无兼职,敬请等待任务发布。</span>
								</div>
								{{/if}}
							</ul>
						</script>
					</div>
				</div>
			</div>
			<div class="butts">
				<nav class="mui-bar mui-bar-tab">
					<a class="mui-tab-item" id="firstp">
						<span class="mui-icon mui-icon-home"></span>
						<span class="mui-tab-label">首页</span>
					</a>
					<a class="mui-tab-item" id="parttp">
						<span class="mui-icon mui-icon-paperplane"></span>
						<span class="mui-tab-label">发布</span>
					</a>
					<a class="mui-tab-item mui-active" id="jobtp">
						<span class="mui-icon mui-icon-flag"></span>
						<span class="mui-tab-label">校园兼职</span>
					</a>
					<a class="mui-tab-item" id="centertp">
					<span class="mui-icon mui-icon-gear"></span>
						<span class="mui-tab-label">个人中心</span>
					</a>
				</nav>
			</div>
		</div>
	</body>
	<script>
		var searchPage = mui.preload({
		 	url : '../partjob/search.html',
		 	id : '../partjob/search.html'
		 });
		document.getElementById("search").addEventListener("keypress", function(event) {
			
			if (event.keyCode == "13") {
				document.activeElement.blur(); //收起虚拟键盘
				var searchname = mui("#search")[0].value;
				var searchPage = plus.webview.getWebviewById('../partjob/search.html');
				mui.fire(searchPage,"tosearchs",{searchf:searchname});
				mui.openWindow({
					id : '../partjob/search.html'
				}) //TODO 完成搜索事件
				event.preventDefault(); // 阻止默认事件---阻止页面刷新
			}
		})
	</script>
</html>
