.difination-backgroud {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-image: url(../../image/u=2178990121,1636008986&fm=200&gp=0.jpg);
}

.difination-p-color {
	font-size: 13px;
	color: #999999;
}

.difination-write {
	border: 1px solid #242424;
	z-index: 999;
	position: absolute;
	margin-left: 80%;
	margin-top: 20px;
	display: none;
}

.difination-maggin-left10px {
	margin-left: 10px;
	display: none;
}

.difination-span-font-color {
	color: #BFBCBC;
	font-size: 14px;
}

.mui-table-view {
	margin-top: 10px;
}

.difination-img-size {
	height: 30px;
}

.difination-li-height {
	height: 50px;
}

.difination-span-font-color {
	color: #000000;
}

.difination-maggin-top20px {
	margin-top: 20px;
}

.difination-maggin-left-right {
	margin-top: 10px;
}

.mui-bar-tab {
	background: #FFFFFF;
}

.difination-personal-name {
	position: absolute;
	margin-top: 70px;
	background-color: rgba(255, 255, 255, 0.1);
}

.difination-personal-name-p {
	width: 70%;
	height: 100%;
}

.difination-img-radius {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: -5px;
}

.difination-span-left {
	margin-left: 10px;
}

.difination-span-font-size20px {
	font-size: 20px;
}

.difination-span-font-#B6ADAD {
	color: #D7D7D7;
}