.difination-ul-maggin {
				margin-top: 45px;
				border: 1px solid #E3DEDE;
				background: #F3F0EF;
			}
			
			.mui-ellipsis span {
				font-size: 10px;
			}
			
			.difination-left-10px {
				margin-left: 45px;
			}
			
			.difination-span-left {
				margin-left: 10px;
			}
			
			.difination-p-font-size15px {
				font-size: 15px;
				color: #B9B7B6;
			}
			
			ul li {
				background: #F3F0EF;
			}
			
			.mui-bar-nav {
				background: #F3F0EF;
			}
			
			body {
				background: #F3F0EF;
			}
			
			.difination-p-color {
				font-size: 13px;
				color: #999999;
			}
			.difination-left-7px{
				margin-left: 7px;
				}
			
			.difination-imgW40H20 {
				width: 40px;
				height: 20px;
			}
			
			.difination-maggin-top40px {
				margin-top: 40px;
			}
			
			.difination-img-radius {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				margin-bottom: -5px;
			}
			.difination-maggin-left50px{
				margin-left: 50px;
				
			}
			.difination-maggin-left10px{
				margin-left: 10px;
			}